---
import Layout from "../layouts/Layout.astro";

import AstroComponent from "@components/astro.astro";
import Preact from "@components/preact";
import React from "@components/react";
import Solid from "@components/solidjs";
import Svelte from "@components/svelte.svelte";
import Lit from "@components/lit";
import Alpine from "@components/alpinejs.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Only <span class="text-gradient">SRR</span></h1>
        <AstroComponent />
        <Preact />
        <React />
        <Svelte />
        <Solid />
        <Lit />
        <Alpine />

        <h1>Client <span class="text-gradient">Partial-hydrated</span></h1>
        <AstroComponent />
        <!-- Astro components CANNOT be client side -->
        <Preact client:load />
        <React client:load />
        <Svelte client:load />
        <Solid client:load />
        <Lit client:load />
        <Alpine />
        <!-- Alpine.js is attached to astro and thus CANNOT be client side -->

        <h1>Client <span class="text-gradient">Hydrated</span></h1>
        <AstroComponent />
        <!-- Astro components CANNOT be client side -->
        <Preact client:only="preact" />
        <React client:only="react" />
        <Svelte client:only="svelte" />
        <Solid client:only="solid" />
        <Lit client:only="lit" />
        <Alpine />
        <!-- Alpine.js is attached to astro and thus CANNOT be client side -->
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 90ch;
    }
    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0;
        margin-top: 2rem;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
